@import '/styles/common/index.scss';

.header {
  @include Flex(row, space-between, center);
  width: 100%;
  height: 70px;

  background-color: $white-color;
  border-bottom: 1px solid $header-border-color;

  padding: 0 200px;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include tablet {
    padding: 0 24px;
  }
  @include mobile {
    padding: 0 16px;
  }

  .left {
    @include Flex(row, space-between, center);
    gap: 32px;

    @include tablet {
      gap: 20px;
    }
    @include mobile {
      gap: 16px;
    }

    ul {
      @include Flex(row, space-between, center);

      li {
        width: 109px;
        height: 69px;
        @include Flex(row, center, center);
      }

      .active {
        color: $main--color;
      }
    }
  }
}

// li 700 18-18-16
