.header {
  position: fixed;
}
.header-left {
  align-items: center;
  display: flex;
  gap: 32px;
}

.header-container {
  padding: 10px 200px 9px 200px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
}
