@import '@/src/styles/_mixin';

.button {
  @include font-style(16px, 600, var(--white));
  padding: 12px 24px;
  background-color: var(--blue);
  border-radius: 5px;
  width: max-content;
  cursor: pointer;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--dark-blue);
  }
}

.active {
  background-color: var(--gray-400);
  cursor: not-allowed;

  &:hover {
    background-color: var(--gray-400);
  }
}

.fullWidth {
  width: 100%;
}

.disabled {
  background-color: var(--gray-400);
  cursor: not-allowed;

  &:hover {
    background-color: var(--gray-400);
  }
}
