@use '@/styles/common/index.scss' as *;

.sign-main {
  width: 640px;
  margin: 231px auto;

  @include Flex(column, center, center);
  gap: 40px;

  p > a {
    color: $main--color;
    text-decoration: underline;
  }

  @include tablet {
    width: 100%;
    margin: 0;
    padding: 48px 52px;
  }
  @include mobile {
    padding: 24px 16px;
  }
}

.logo {
  position: relative;
  width: 396px;
  height: 132px;

  @include mobile {
    width: 198px;
    height: 66px;
  }
}

.easy-login-container {
  width: 100%;
  height: 74px;
  border-radius: 8px;
  padding: 16px 23px;
  background-color: #e6f2ff;

  & > div {
    @include Flex(row, space-between, center);

    span {
      @include font-style(lg, medium);
      color: #1f2937;
    }

    & > div {
      @include Flex(row, null, center);
      gap: 16px;
    }
  }
}
