@import "@/styles/import.scss";

.container {
  max-width: 1200px;
  margin: auto;
}
.post-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.title {
  margin: 24px 0;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: $cool-gray-900;
}

.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
