// styles.module.scss

@import "@/styles/import.scss";

.dropdown {
  position: relative;
  width: 80px;
  cursor: pointer;
  border-radius: 20px;

  .dropdownHeader {
    width: 42px;
    height: 42px;
    border-radius: 12px;
    border: 1px solid $cool-gray-200;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .dropdownList {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 12px;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;

    &.open {
      display: block;
    }

    .dropdownItem {
      padding: 10px;
      font-size: 16px;
      font-weight: 400;
      color: $cool-gray-800;
      background-color: #fff;
      border-bottom: 1px solid #ccc;

      &:hover {
        background-color: #f0f0f0;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  @media (max-width: 767px) {
    .dropdownItem {
      float: left;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
