$main--color: #3692ff;
$main--color-hover: #1967d6;
$main--color-active: #1251aa;
$main--color-disabled: #9ca3af;

$error-color: #f74747;
$gray-900: #111827;
$gray-800: #1f2937;
$gray-700: #374151;
$gray-600: #4b5563;
$gray-500: #6b7280;
$gray-400: #9ca3af;
$gray-200: #e5e7eb;
$gray-100: #f3f4f6;
$gray-50: #f9fafb;

$sky--color: #cfe5ff;
$footer-background-color: #111827;
$footer-company-color: #9ca3af;
$description-color: #374151;
$header-border-color: #dfdfdf;

$white-color: #ffffff;
$black-color: #000000;
