.bestPostContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.postSubject {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}

.postWrapper {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.postContentWrapper {
  width: 100%;
  padding: 0 24px 16px 24px;
  background-color: #f9fafb;
  border-radius: 8px;
}

.postContent {
  display: flex;
  flex-direction: column;
}

.postInfo {
  margin: 16px 0 18px 0;
  display: flex;
  justify-content: space-between;
  min-height: 72px;
}

.postTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  text-decoration: none;
  color: #1f2937;
}

.postImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 6px;
}

.postImgContainer.imgPresent {
  border: 1px solid #e5e7eb;
}

.postImgContainer.imgAbsent {
  display: none;
}

.postImg {
  min-width: 72px;
  left: 264px;
  padding: 13.71px 12px;
  gap: 0px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
}

.postDetails {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.postMeta {
  display: flex;
  gap: 8px;
}

.nickname {
  text-align: left;
  color: #4b5563;
}

.likeCount {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6b7280;
}

.createdAt {
  color: #9ca3af;
}

.postContentWrapper {
  flex: 1 0 30%; /* 기본적으로 한 줄에 최대 3개의 게시글 */
}

@media screen and (max-width: 1280px) {
  .postInfo {
    gap: 40px;
    margin: 16px 0 40px 0;
  }

  .postWrapper {
    gap: 16px;
  }

  .postContentWrapper {
    flex: 2 0 50%; /* 한 줄에 2 개의 게시글 */
  }
  .postContentWrapper:nth-child(n + 3) {
    display: none; /* 2번째 게시글을 제외한 나머지 게시글 숨김 */
  }

  .postTitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
  }
}

@media screen and (max-width: 743px) {
  .bestPostContainer {
    gap: 16px;
  }

  .postContentWrapper {
    flex: 1 0 100%; /* 한 줄에 한 개의 게시글 */
  }
  .postContentWrapper:nth-child(n + 2) {
    display: none; /* 첫 번째 게시글을 제외한 나머지 게시글 숨김 */
  }
}
