@import '@/styles/common/index.scss';

.dropdown {
  position: relative;
  width: fit-content;

  button {
    background-color: $white-color;
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid $gray-200;

    @include Flex(row, null, center);
    gap: 24px;

    @include font-style('lg', regular);
    color: $gray-800;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
    }
  }
}

.ul {
  border: 1px solid $gray-200;
  border-radius: 12px;
  background-color: $white-color;

  position: absolute;
  top: 30px; // 54px (다시 수정할수도 있어서 메모)
  right: 0;
}

.list {
  @include font-style('lg', regular);
  width: 130px;
  height: 42px;

  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    cursor: pointer;
  }
  &:first-child {
    border-bottom: 1px solid $gray-200;
  }
}
