@import '@/styles/common/index.scss';
@mixin InputTextStyle {
  @include font-style('lg', regular);
  color: $gray-800;
}

@mixin InputStyle {
  width: 100%;
  background-color: $gray-100;
  position: relative;

  @include InputTextStyle;

  padding: 16px 24px;

  border: none;
  border-radius: 12px;

  &::placeholder {
    color: $gray-400;
  }

  &:focus {
    outline: 2px solid $main--color;
  }
}

.search {
  @include InputStyle;
  background-image: url('/images/ic_search.svg');
  background-repeat: no-repeat;
  background-position: 16px 9px;
  background-size: 24px 24px;

  width: 1054px;
  height: 42px;
  padding: 9px 20px 9px 16px;
  border-radius: 12px;
  padding-left: 44px;
}

.input {
  @include InputStyle;
}

.input-wrapper {
  @include Flex(column, null, null);
  gap: 16px;

  label {
    @include font-style('2lg', bold);
  }
}

.textarea {
  @include InputStyle;
  height: 282px;
  resize: none;
}

@mixin FileImageStyle {
  width: 282px;
  height: 282px;

  @include tablet {
    width: 162px;
    height: 162px;
  }
  @include mobile {
    width: 168px;
    height: 168px;
  }
}

.file-input {
  @include InputStyle;
  @include FileImageStyle;

  p {
    @include font-style(lg, regular);
    color: $gray-400;
  }
}
