@import "@/styles/import.scss";

.input-box {
  position: relative;
}
.search-icon {
  width: 24px;
  position: absolute;
  top: 9px;
  bottom: 9px;
  left: 16px;
}
.input {
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $cool-gray-800;
  background-color: $cool-gray-100;
  width: 1054px;
  border-radius: 12px;
  padding: 9px 20px 9px 44px;
}

.input::placeholder {
  color: $cool-gray-400;
}
