@import '@/styles/common/index.scss';

.badge {
  background-color: $main--color;
  width: 102px;
  height: 30px;

  border-radius: 0 0 32px 32px;

  @include Flex(row, center, center);
  gap: 4px;

  p {
    @include font-style(lg, semibold);

    color: $white-color;
  }
}
