@import "@/styles/import.scss";

.dropdown {
  position: relative;
  width: 130px;
  cursor: pointer;
  border-radius: 20px;

  &Header {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: $cool-gray-800;
    background-color: #fff;
    border: 1px solid $cool-gray-200;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #333;
      margin-left: 10px;
    }
  }

  &List {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 12px 12px;
    z-index: 10;
    max-height: 150px;
    overflow-y: auto;
  }

  &Item {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: $cool-gray-800;
    background-color: #fff;
    border-bottom: 1px solid #ccc;

    &:hover {
      background-color: #f0f0f0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
