.BestArticleContainer {
  display: flex;
  gap: 24px;
}

.ArticleAndPostLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ArticleNavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
