.articleContainer {
  max-width: 1200px;
  margin: 0px auto;
}

.articleWriterInfo {
  min-height: 104px;
  border-bottom: 1px solid #e5e7eb;
  margin-top: 32px;
  margin-bottom: 24px;
}

.articleImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.articleFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  gap: 8px;
}

.CoomentItemOutContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ImgContainer {
  position: relative;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.WriterInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}
.wrtierInfoBottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ImgNickAndDate {
  display: flex;
  gap: 16px;
  border-right: 1px solid #e5e7eb;
}

.CreateDate {
  color: #9ca3af;
  margin-right: 32px;
}
.LikeCount {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #6b7280;
  border-radius: 35px;
  border: 1px solid #e5e7eb;
  max-width: 87px;
  max-height: 40px;
  min-width: 79px;
  min-height: 32px;
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}

.Content {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.DoComment {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.CommentInput {
  width: 100%;
  min-height: 105px;
  background-color: #f3f4f6;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #9ca3af;
  padding: 16px 24px;
  margin-top: 9px;
  border-radius: 12px;
  outline: none;
}

.CommentButton {
  align-self: flex-end;
  width: 74px;
  height: 42px;
  border-radius: 8px;
  border: none;
  color: #f3f4f6;
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
  background: #3692ff;
  cursor: pointer;
}

.CommentButton:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
.GoToBoardsContainer {
  display: flex;
  justify-content: center;
}

.GotoBoards {
  background-color: #3692ff;
  color: #f3f4f6;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  width: 240px;
  height: 48px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 181px;
}

@media (max-width: 1242px) {
  .articleContainer {
    margin: 0 24px;
  }
}
@media (max-width: 530px) {
  .articleContainer {
    margin: 0 16px;
  }
  .CreateDate {
    margin-right: 20px;
  }
  .LikeCount {
    margin-left: 20px;
  }
  .articleWriterInfo {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .ImgContainer {
    height: 300px;
  }
}
