.articleContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.articleImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.articleFooter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.CoomentItemOutContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 1242px) {
  .articleContainer {
    margin: 0 24px;
  }
}
@media (max-width: 530px) {
  .articleContainer {
    margin: 0 16px;
  }
}
