.boardContainer {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.articleContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 8px;
}

.articleWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  line-height: 32px;
}

.articleTitle {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.articleTitle > span {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  color: #1f2937;
}

.articleInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.createInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.writingInfo {
  display: flex;
  gap: 8px;
  font-size: 14px;
  line-height: 24px;
}

.nickname {
  font-weight: 500;
  color: #4b5563;
}

.createdAt {
  font-weight: 400;
  color: #9ca3af;
}

.likeArticleContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 32px;
  border-left: 1px solid #e5e7eb;
}

.likeArticleWrapper {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  padding: 4px 12px;
  border: 1px solid #e5e7eb;
  border-radius: 35px;
}

.likeCount {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
  line-height: 26px;
}

.dividingLine {
  border-bottom: 1px solid #e5e7eb;
}

.articleContent {
  font-size: 18px;
  line-height: 26px;
  color: #1f2937;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  margin-top: 32px;
  margin-bottom: 98px;
}

.commentTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #111827;
}

.commentInput {
  width: 100%;
  height: 104px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 16px 24px 64px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: #f3f4f6;
}

.commentInput::placeholder {
  color: #9ca3af;
  font-weight: 400;
  /* margin-top: 16px; */
}

.registrationBtn {
  height: 42px;
  padding: 12px 23px;
  gap: 10px;
  position: absolute;
  top: 155px;
  right: 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #9ca3af;
}

.registrationBtn.active {
  background-color: #3692ff;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .articleContainer {
    gap: 16px;
  }
  .commentContainer {
    margin-top: 40px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 743px) {
  .articleInfo {
    gap: 16px;
  }

  .writingInfo {
    gap: 2px;
  }

  .likeArticleContainer {
    padding-left: 16px;
  }

  .likeArticleWrapper {
    height: 32px;
  }

  .likeIcon {
    width: 24px;
    height: 24px;
  }

  .likeCount {
    line-height: normal;
  }

  .commentContainer {
    margin-top: 32px;
    margin-bottom: 82px;
  }
}
