@import '@/styles/common/index.scss';

main {
  width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
  padding-top: 24px;

  @include tablet {
    width: 100%;
    padding: 24px;
  }
  @include mobile {
    padding: 16px;
  }
}

.section-title {
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
  text-align: left;
  color: $gray-900;
}

.best-post {
  @include Flex(column, null, null);
  gap: 24px;

  .best-post-list {
    @include Flex(row, null, null);
    gap: 24px;
  }
}
