.notFound-container {
  margin: 70px auto 0;
  padding-top: 24px;
  width: 500px;
  text-align: center;
}

.notFound-container > div {
  margin-bottom: 16px;
}

.notFound-container button {
  padding: 0;
  line-height: 0;
  width: 120px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
